## Recommendation System
Collaborative filtering with implicit feedback based on latent factors. Prepare data on user-item relationships for each user-company in format that ALS can use.
We require each unique assignee ID in the rows of the matrix, and each unique item ID in columns of matrix.
Values of matrix should be (?) binary user-item preference * confidence

In [23]:
import pyspark
import pyspark.sql.functions as F
from pyspark.sql import Row
from pyspark.sql.types import ArrayType, IntegerType
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

import pandas as pd
import numpy as np

from test_model import (get_patent_fields_list, get_ml_patents, 
                        create_title_abstract_col,trim_data, 
                        structure_dataframe, partition_dataframe, 
                        build_pipeline, process_docs, pat_inv_map, get_topics)

from rec_system import alphanum_to_int, int_to_alphanum

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.cluster import KMeans

import gensim
import gensim.corpora as corpora
from gensim.corpora import Dictionary, mmcorpus
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
from gensim.models.phrases import Phrases, Phraser
from gensim.models.ldamodel import LdaModel
from gensim.models import AuthorTopicModel
from gensim.test.utils import common_dictionary, datapath, temporary_file
from smart_open import smart_open

import spacy
from spacy.lemmatizer import Lemmatizer
from spacy.lang.en import LEMMA_INDEX, LEMMA_EXC, LEMMA_RULES

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, punkt, RegexpTokenizer, wordpunct_tokenize
from nltk.stem import PorterStemmer, LancasterStemmer, WordNetLemmatizer

import json
from pandas.io.json import json_normalize
import requests
import re
import os
import calendar
import requests
from bs4 import BeautifulSoup
import pickle
import math

import matplotlib.pyplot as plt
import pyLDAvis
import pyLDAvis.gensim

from pprint import pprint

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
spark

In [25]:
sc = spark.sparkContext
sc

### Data understanding - Acquire data

#### Data understanding - Acquire data for text workflows

In [26]:
# load pickled dataset
with open('/Users/lee/Documents/techniche/techniche/data/raw_data_1000', 'rb') as f:
    raw_data_1000 = pickle.load(f)

In [27]:
# define keys as criteria to subset dataset #1 for non-text workflows
retained_keys = ['patent_number', 'patent_firstnamed_assignee_id']

# subset raw dataset by desired keys/columns
data_1000 = trim_data(data=raw_data_1000, keys=retained_keys)

In [28]:
# define keys as criteria to subset dataset #2, for text workflows
retained_keys_2 = ['patent_number', 'patent_firstnamed_assignee_id',
                   'patent_title', 'patent_abstract']

# subset raw dataset by desired keys/columns for text analysis workflows
data_1000_2 = trim_data(data=raw_data_1000, keys=retained_keys_2)

#### Data preparation

In [29]:
# create new item in dataset #2 by concat of patent_title and patent_abstract
data_1000_2 = create_title_abstract_col(data=data_1000_2)

In [30]:
# create Pandas dataframe from dataset #1
df_1000 = pd.DataFrame(data_1000)

In [31]:
# create Pandas dataframe from dataset #2
df_1000_2 = pd.DataFrame(data_1000_2)

In [32]:
# for dataset #1: drop row that contains invalid data
df_1000[df_1000.patent_number.str.contains('[RE]')]
df_1000 = df_1000.drop(df_1000.index[[717]])

# drop NaNs in patent_firstnamed_assignee_id column
df_1000 = df_1000.dropna()

In [33]:
# for dataset#2: drop row that contains invalid data
df_1000_2[df_1000_2.patent_number.str.contains('[RE]')]
df_1000_2 = df_1000_2.drop(df_1000_2.index[[717]])

# drop NaNs in patent_firstnamed_assignee_id column
df_1000_2 = df_1000_2.dropna()

#### Data preparation - model #1
Prepare data on user-item relationships for each user-company in format that ALS can use.
We require each unique assignee ID in the rows of the matrix, and each unique item ID in columns of matrix.
Values of matrix should be (?) binary user-item preference * confidence

In [34]:
# create new rating column and assign value of 1
df_1000['rating'] = 1

In [35]:
# convert patent_number column from string to int
df_1000 = df_1000.astype({'patent_number': 'int64'})
# uncomment to confirm
# df_1000.info()

In [36]:
# convert alphanumeric patent_firstnamed_assignee_id col to int
df_1000 = df_1000.astype({'patent_number': 'int64'})

In [37]:
# df_1000['patent_firstnamed_assignee_id'] = df_1000['patent_firstnamed_assignee_id'].apply(hash).apply(abs)
df_1000['patent_firstnamed_assignee_id'] = df_1000['patent_firstnamed_assignee_id'].apply(hash).apply(abs) % 65536 # 2^16

In [38]:
# df_1000['patent_firstnamed_assignee_id'] = df_1000['patent_firstnamed_assignee_id'].apply(hash).apply(abs)
df_1000['patent_number'] = df_1000['patent_number'] % 65536 # 2^16

In [39]:
df_1000 = df_1000.astype({'patent_firstnamed_assignee_id': 'int'})

#### Data preparation - model #1 - create Spark dataframe from pandas dataframe

In [40]:
sp_df_1000 = spark.createDataFrame(df_1000)

In [41]:
# cast columns from bigint to int
sp_df_1000_2 = sp_df_1000.withColumn("patent_firstnamed_assignee_id", sp_df_1000["patent_firstnamed_assignee_id"].cast(IntegerType())).withColumn("patent_number", sp_df_1000["patent_number"].cast(IntegerType())).withColumn("rating", sp_df_1000["rating"].cast(IntegerType()))

In [42]:
# partition dataframe 
(training, test) = sp_df_1000.randomSplit([0.8, 0.2])

### Model # 1
Build the recommendation model using ALS on the training data

In [43]:
# build ALS recommendation model
als = ALS(maxIter=5,
          regParam=0.01, 
          rank=10, # number of latent topics- ME-10?
          alpha=30,
          implicitPrefs=True, # # implicitPrefs=True b/c ratings are implicit
          userCol="patent_firstnamed_assignee_id", 
          itemCol="patent_number", 
          ratingCol="rating",
          coldStartStrategy="nan") # coldStartStrategy="nan" to retain NaNs

In [44]:
# fit ALS model to the training set
model = als.fit(training)

#### Model #1 - Evaluation - Compare to naive baseline
Compare model evaluation result with naive baseline model that only outputs (for explicit - the average rating (or you may try one that outputs the average rating per movie).

#### Model #1 - Optimize model

In [ ]:
params = ParamGridBuilder().addGrid(als_model.regParam, [0.01,0.001,0.1]).addGrid(als_model.rank, [4,10,50]).build()


## instantiate crossvalidator estimator
cv = CrossValidator(estimator=als_model, estimatorParamMaps=params,evaluator=evaluator,parallelism=4)
best_model = cv.fit(movie_ratings)

#### Getting Predictions

In [49]:
# get predictions for test set
predictions = model.transform(test)

In [56]:
# get predictions for training set
predictions_train = model.transform(training)
predictions_train_df = predictions_train.toPandas()
predictions_train_df

     patent_firstnamed_assignee_id  patent_number  rating  prediction
0                             2428           3997       1    0.979045
1                            29959           9900       1    0.368814
2                             2428          26087       1    0.979045
3                             2428          32304       1    0.979045
4                            26595          43256       1    0.368790
5                            29202          34602       1    0.369658
6                            14464           2525       1    0.880219
7                            41979           3986       1    0.369143
8                            36082           4042       1    0.369534
9                            20767          27977       1    0.649512
10                            2428          32291       1    0.979045
11                            2428          16117       1    0.979045
12                            6180          16232       1    0.934214
13                           38559          21675       1    0.649304
14                           45941          22652       1    0.368777
15                            2428          24578       1    0.979045
16                           55785          32489       1    0.369283
17                           45220          47655       1    0.563604
18                            5309          47744       1    0.369345
19                           49275          52071       1    0.369451
20                            2428          11243       1    0.979045
21                           14743          16027       1    0.369076
22                           60471          36499       1    0.822187
23                            2428          36649       1    0.979045
24                           59828          49678       1    0.649497
25                           64056          22307       1    0.369357
26                           32464          30219       1    0.901915
27                            2428          38427       1    0.979045
28                           56302          46149       1    0.369648
29                            4197          56148       1    0.890935
..                             ...            ...     ...         ...
726                          56952          51861       1    0.369375
727                          18515          52657       1    0.369334
728                          56731          56688       1    0.369399
729                          15848          57845       1    0.563814
730                          25717          62199       1    0.840697
731                          20767          14909       1    0.649512
732                           4197          49322       1    0.890935
733                          53499          52165       1    0.369046
734                          14464          63567       1    0.880219
735                          11397           3870       1    0.781338
736                          35162          18188       1    0.563107
737                           6180          44835       1    0.934214
738                          43860          57717       1    0.563646
739                          60471          64679       1    0.822187
740                           6180            788       1    0.934214
741                          10213          48010       1    0.369641
742                          34630          58478       1    0.649416
743                          21753          60104       1    0.369705
744                          33605            617       1    0.369064
745                           6180           3993       1    0.934214
746                           2428          11246       1    0.979045
747                           4197          22647       1    0.890935
748                          11887          22952       1    0.649370
749                          14387          29018       1    0.564363
750                           2428          57552       1    0.979045
751                          11397          27319       1    0.781338
752                          32464          38299       1    0.901915
753                           6180          64569       1    0.934214
754                           2428          15913       1    0.979045
755                           2428          44387       1    0.979045

[756 rows x 4 columns]

In [52]:
# view in Pandas df
predictions_df = predictions.toPandas()
predictions_df

     patent_firstnamed_assignee_id  patent_number  rating  prediction
0                             4197          54258       1         NaN
1                            25717          44792       1         NaN
2                            49660           4396       1         NaN
3                             6180          15931       1         NaN
4                            51402          58869       1         NaN
5                             2428          14760       1         NaN
6                            37381          22313       1         NaN
7                            65328           4923       1         NaN
8                             3298          60097       1         NaN
9                            61893          40736       1         NaN
10                           42492          48352       1         NaN
11                            2428          64551       1         NaN
12                            5027          34344       1         NaN
13                             658          33654       1         NaN
14                           55654          64411       1         NaN
15                            2428          57329       1         NaN
16                           60862          57725       1         NaN
17                            2428          34461       1         NaN
18                            2428          11626       1         NaN
19                           19157          31197       1         NaN
20                            6180          63203       1         NaN
21                            2428          18170       1         NaN
22                            2428          18378       1         NaN
23                             535          10309       1         NaN
24                           32464          51944       1         NaN
25                           37139          62117       1         NaN
26                            2428           3325       1         NaN
27                            5476          57147       1         NaN
28                           25038          28881       1         NaN
29                            2428          44448       1         NaN
..                             ...            ...     ...         ...
186                          15949          15225       1         NaN
187                           2428          28300       1         NaN
188                          38224          40899       1         NaN
189                          23275          34066       1         NaN
190                           2428          44645       1         NaN
191                           2428          22655       1         NaN
192                          29564          58822       1         NaN
193                          34240             30       1         NaN
194                          63673          34064       1         NaN
195                          57159          39551       1         NaN
196                          65328          62734       1         NaN
197                          46887          64457       1         NaN
198                          42492          47892       1         NaN
199                          14387          57708       1         NaN
200                           2428          10908       1         NaN
201                           2428          41169       1         NaN
202                          31531          57713       1         NaN
203                           2428          10288       1         NaN
204                           2428          40211       1         NaN
205                           9158          61017       1         NaN
206                          20567          54792       1         NaN
207                          56467          10399       1         NaN
208                          45860          28683       1         NaN
209                           6180          56251       1         NaN
210                          57376          52005       1         NaN
211                          32464          40876       1         NaN
212                           2428           2511       1         NaN
213                          55654          23161       1         NaN
214                          21158          30199       1         NaN
215                          60471          52098       1         NaN

[216 rows x 4 columns]

In [51]:
predictions_df.dropna()

Empty DataFrame
Columns: [patent_firstnamed_assignee_id, patent_number, rating, prediction]
Index: []

In [ ]:
predictions = model.transform(training)

In [ ]:
predictions_train_df = predictions.toPandas()

In [ ]:
predictions_train_df

In [ ]:
- content-similarity
- limits of patent space
- TF-IDF vectorization of patents - metrics - avg distance between 
- distance between individual patents, with ranking
- take tf-idf vector and argsort by absolute value, to see which features are most
- important to this patent. 
- Get top 20 features. While normally would do cosine distance betweel all vectors. BUT,
- only do cosine distance between these top 20 features, for cold start patents

### Model #2 - Data preparation

In [ ]:
df_1000_2.info()

#### Model 2 - Data preparation - text data

In [ ]:
# instantiate TF-IDF Vectorizer using standard English stopwords
tfidf = TfidfVectorizer(stop_words='english')

In [ ]:
# fit TF-IDF matrix on text column
tfidf_matrix = tfidf.fit_transform(df_1000_2['patent_title_abstract'])

In [ ]:
# output matrix, 972 docs, 5364 terms
tfidf_matrix.shape

### Model 3 - compute distance metric

In [ ]:
# compute cosine similarity matrix between docs using linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
# construct reverse map of indices and pat_title_abstract
indices = pd.Series(df_1000_2.index, index=df_1000_2['patent_title_abstract']).drop_duplicates()

In [ ]:
indices

In [ ]:
# tfidf vec requires list, not just string
unseen_data = 'computer vision natural language processor'
unseen_data=[unseen_data]

In [ ]:
unseen_tfidf = tfidf.transform(unseen_data)

#### Model #2 - Apply K means clustering to distance matrix

In [ ]:
km = KMeans(20)

In [ ]:
kmresult = km.fit(tfidf_matrix).predict(unseen_tfidf)

In [ ]:
kmresult_p = km.predict(unseen_tfidf)

In [ ]:
kmresult_p